@model S3500659_A2.ViewModel.BillPayViewModel

@{
    ViewData["Title"] = "Bill Pay";
}

<h1>Welcome @Model.Customer.CustomerName</h1>
<h5>Create new scheduled payment</h5>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateBillPay">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="AccountNumber" class="control-label"></label>
                <select asp-for="AccountNumber" class="form-control">
                    <option value="">Select account</option>
                    @foreach (var a in Model.Accounts)
                    {
                        <option value="@a.AccountNumber">@a.AccountNumber (@a.AccountType) - Current Balance: $@a.Balance.ToString("0.00")</option>
                    }
                </select>
                <span asp-validation-for="AccountNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PayeeId" class="control-label"></label>
                <select asp-for="PayeeId" asp-items="@Model.PayeeList" class="form-control">
                    <option value="">Select payee</option>
                </select>
                <span asp-validation-for="PayeeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Amount" class="control-label"></label>
                <input asp-for="Amount" class="form-control" value="Enter Amount" />
                <span asp-validation-for="Amount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ScheduledDate" class="control-label"></label>
                <input asp-for="ScheduledDate" class="form-control" />
                <span asp-validation-for="ScheduledDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Period" class="control-label"></label>
                <select asp-for="Period" class="form-control" asp-items="Html.GetEnumSelectList<Period>()">
                    <option value="">Select Period</option>
                </select>
                <span asp-validation-for="Period" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="ScheduledBillPay">Back to Scheduled Payments</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}



